	Based on the assumption that the OMG will allow us to register
the GNOME/ and Bonobo/ toplevel namespaces; the following spaces have
been registered to the following projects, and are controlled by the
following people [ subject to any pending complaints ]:

* Bonobo/
	[ reserved for component infastructure ]

* GNOME/			:-)		A committe of 37 members

subdomains:
	Achtung/		achtung		mkestner@ameritech.net
	ControlCenter/		control-center	?
	DB/			Gnome-db	rodrigo@linuxave.net
	Dia/			Dia		james@daa.com.au
	Eog/			Eog		federico@helixcode.com
	Evolution/		Evolution	ettore@helixcode.com
	Config/			GConf		hp@redhat.com
	GDA/			libgda		rodrigo@linuxave.net
	Gnumeric/		Gnumeric	jgoldberg@home.com
	Grapevine/		grapevine	jirka@5z.com
	GtkHtml/		GtkHtml		rodo@helixcode.com
	Guppi/			guppi3		trow@gnu.org
	Nautilus/		Nautilus	darin@eazel.com
	Print/			gnome-print	chema@celorio.com
	PonG/			pong	  	jirka@5z.com
	SodiPodi/		sodipodi	lauris@helixcode.com
	Terminal/		gnome-core	jirka@5z.com, jacob@helixcode.com	
	Vertigo/		Panel 2.0	jirka@5z.com, jacob@helixcode.com	
	VFS/			gnome-vfs	pavel@eazel.com


standard interfaces:
	HTMLEditor		gtkhtml
	Panel			gnome-core
	Panel2 (in 1.4)		gnome-core
	PanelSpot		gnome-core
	Applet			gnome-core
	StatusSpot		gnome-core

deprecated interfaces:
	Unknown			gnome-libs
	Table			gnome-libs
	GenericFactory		gnome-libs

* Misc. Namespacing errors - non-deprecated.

Desktop/
	TextViewerFactory	gnome-libs
	TextViewer		gnome-libs
	Editor			gnome-libs

help_browser/
	simple_browser		gnome-core