	Based on the assumption that the OMG will allow us to register
the GNOME/ and Bonobo/ toplevel namespaces; the following spaces have
been registered to the following projects, and are controlled by the
following people [ subject to any pending complaints ]:

* Bonobo/
	[ reserved for component infastructure ]

* GNOME/			:-)		A committe of 37 members

subdomains:
	Achtung/		achtung		mkestner@ameritech.net
	ControlCenter/		control-center	?
	DB/			Gnome-db	rodrigo@linuxave.net
	Dia/			Dia		james@daa.com.au
	Eog/			Eog		federico@helixcode.com
	Evolution/		Evolution	ettore@helixcode.com
	Config/			GConf		hp@redhat.com
	Gnumeric/		Gnumeric	jody@helixcode.com
	GtkHtml/		GtkHtml		rodo@helixcode.com
	Guppi/			guppi3		trow@gnu.org
	Nautilus/		Nautilus	darin@eazel.com
	Print/			gnome-print	chema@celorio.com
	SodiPodi/		sodipodi	lauris@helixcode.com
	VFS/			gnome-vfs	pavel@eazel.com

standard interfaces:
	HTMLEditor		gtkhtml

deprecated interfaces:
	Unknown			gnome-libs
	Table			gnome-libs
	GenericFactory		gnome-libs

* Misc. Namespacing errors - non-deprecated.

Desktop/
	TextViewerFactory	gnome-libs
	TextViewer		gnome-libs
	Editor			gnome-libs

