/.deps
/.libs

/bonobo-activation-2.0-uninstalled.pc
/bonobo-activation-2.0.pc
/bonobo-activation-version.h
/Bonobo_ActivationContext-common.c
/Bonobo_ActivationContext-skels.c
/Bonobo_ActivationContext-stubs.c
/Bonobo_ActivationContext.h
/Bonobo_Activation_types-common.c
/Bonobo_Activation_types-skels.c
/Bonobo_Activation_types-stubs.c
/Bonobo_Activation_types.h
/Bonobo_GenericFactory-common.c
/Bonobo_GenericFactory-skels.c
/Bonobo_GenericFactory-stubs.c
/Bonobo_GenericFactory.h
/Bonobo_ObjectDirectory-common.c
/Bonobo_ObjectDirectory-skels.c
/Bonobo_ObjectDirectory-stubs.c
/Bonobo_ObjectDirectory.h
/Bonobo_Unknown-common.c
/Bonobo_Unknown-skels.c
/Bonobo_Unknown-stubs.c
/Bonobo_Unknown.h
